.modal-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 30%;
  float: left;
  padding: 10px 10px 10px 10px;
}

.modal-text-container {
  overflow: hidden;
}

.modal-title {
  font-size: 2rem;
  margin: 0;
  margin-bottom: 10px;
}

.modal-description {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 30px;
}

.modal-content {
  background-color: rgba(0, 0, 0, 0.778);
  border-radius: 3%;
  width: 80%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}

.grid-item {
  width: calc((100% - 40px) / 5);
  height: auto;
  object-fit: cover;
}
